body::before {
    display: block;
    content: '';
    height: 60px;
  }

#about-img {
  background-image: url('../img/about1.jpg');
}

#article-img {
  background-image: url('../img/article-1.png');
}

#home-img {
  background-image: url('../img/home1.jpg');
}

.page-link {
  color: black !important;
}

#signup-img {
  background-image: url('../Documentation/testing/register.png');
}

nav * {
  color: white !important;
}

