{% extends "base.html" %}

{% block content %}
<h2>About page</h2><br>
    <p>My name is Temi and I started 'Amaris and Chaya Handmade Dolls' because of my little girl, Amaris.</p>

    <p>I want my little girl and so so many others out there to have a heirloom doll that represents her as she grows and
    plays imaginatively. All children should play with black dolls for the purpose of encouraging diversity. It is easy
    to get one's hands-on white dolls...that is just taken for granted. But brown dolls, black dolls, and ethnic dolls
    are often left upon the shelf, untouched and ignored. This is tragic.</p>

    <P>My mission is to get those black and brown and diverse dolls in the hands of our children and help them explore
    their imaginations and create stories that include dolls of all colours, so that they know that everyone counts, no
    matter the shade of their skin.</P>

    <P>Dolls and toys, play a big part in shaping a child's childhoods. Even though to us it is just playing, if you really
    listen to them, you can hear how they view the world, what they think, how they feel and see them shaping and
    re-imagining the world around them.</P>

    <p>It is because of this, and my need for Amaris to see herself as beautiful with her melanin rich skin tone, that I
    made these dolls.</p>

    <p>I hope that to everyone black, brown or white, that have children, will recognize that simply having and playing
    with a beloved black doll along with their other dolls, can help a child delight in the celebration of others who
    are also black in real life.</p>

    <p>Let us educate our children to celebrate and love our differences.</p>
{% endblock %}