{% extends "base.html" %}
{% block content %}
<h2>About page</h2><br>
<p>
    <strong>Representation</strong> is core to the M & R brand and we know there are many positive benefits to exposing
    children to dolls with different skin tones, hair types, abilities and more. <br><br>

    <strong>Representation matters</strong> <br>
    Why is it so important that Black children see dolls, toys and characters that represent, resemble and depict them
    you may ask? <br><br>

    <i>Seeing toys that represent, resemble and depict you can have a positive impact on a child's development and self
    esteem.</i> <br><br>

    Black dolls have often caricatured and misrepresented Black people through history, reflecting the attitudes and
    cultural stereotypes of their times. This has led to children from black and other minority backgrounds not seeing
    themselves reflected in a positive way through their toys. <br><br>

    Dolls and toys, play a big part in shaping a child's childhoods. Even though to us it is just playing, if you really
    listen to them, you can hear how they view the world, what they think, how they feel and see them shaping and
    re-imagining the world around them. <br><br>

    Exposing kids to different toys <i>teaches them to respect not only themselves, but everyone around them.</i> It also
    builds strong character traits that will help kids navigate through their lives. <br><br>

    I hope that to everyone black, brown or white, that have children, will recognize that simply having and playing
    with a beloved black doll along with their other dolls, can help a child delight in the celebration of others who
    are also black in real life. <br><br>

    Let us educate our children to celebrate and love our differences.
</p>
{% endblock %}