{% extends "base.html" %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('static/img/about1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Mum Loves Representation</h1>
                    <span class="subheading">A Blog by Tomi</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About page content -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2>About page</h2>
                <p>I want my little girl and so many others out there to have a heirloom doll that represents her as she grows
                    and plays imaginatively. All children should play with black dolls for the purpose of encouraging diversity.
                    It is easy to get one's hands-on white dolls...that is just taken for granted. But brown dolls, black dolls,
                    and ethnic dolls are often left upon the shelf, untouched and ignored. This is tragic.</p>
          
                  <p>My mission is to get those black and brown and diverse dolls in the hands of our children and help them
                    explore their imaginations and create stories that include dolls of all colours, so that they know that
                    everyone counts, no matter the shade of their skin.
                    It is because of this, and my need for my daughter to see herself as beautiful with her melanin rich skin
                    tone, that I made the Amaris doll.</p>
          
                  <p>Amaris doll, is a gorgeous black girl with a rich dark melanin skin tone.
                    Her hair is in a set hairstyle up until the bow, but can be restyled, braided or even wrapped into 2 buns.
          
                    Amaris doll is a fabric soft doll, which means she is a doll for life. She will grow up with your little ones
                    in all stages of their lives, from play as a child to display as an adult. You could say, she is will become
                    an heirloom, that will be there through every special moment and also just for when they need a good cuddle.
                  </p>
            </div>

        </div>
    </div>

</section>
{% endblock %}