{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<!-- Page Header -->
<header class="masthead" id="article-img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ article.title }}</h1>
          <h2 class="subheading">{{ article.excerpt }}</h2>
          <span class="meta">Posted by
            <a href="{% url 'about_view' %}">{{ article.author }}</a>
            on {{ article.date_created }}
            <small>
              {% if user.is_authenticated %}
              {% if user.id == article.author.id %}
              <a href="{% url 'update_article' article.slug %}">Edit</a>
              <a href="{% url 'delete_article' article.slug %}">Delete</a>
              {% endif %}
              {% endif %}
            </small>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="text-justify">{{ article.body | safe }}</p>
        <div class="row">
          <div class="col-1">
            <strong>
              {% if user.is_authenticated %}
              <form action="{% url 'article_like' article.slug %}" class="d-inline" method="post">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" value="{{ article.slug }}" class="like-btn"><i class="fas fa-heart"></i></button>
                {% else %}
                <button type="submit" value="{{ article.slug }}" class="like-btn"><i class="far fa-heart"></i></button>
                {% endif %}
              </form>
              {% else %}
              <span class="text-secondary"><i class="far fa-heart"></i></span>
              {% endif %}
              <span class="text-secondary">{{ article.number_of_likes }}</span>
            </strong>
          </div>
          <div class="col-1">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
              {{ total_comments }}
            </strong>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>Comments:</h3>
        <div class="card-body">
          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class=" text-muted font-weight-normal">
                {{ comment.date_created }}
              </span> wrote:
            </p>
            {{ comment.body | linebreaks }}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="card-body">
          {% if commented %}
          <div class="alert alert-success" role="alert">
            Your comment is awaiting approval
          </div>
          {% else %}

          {% if user.is_authenticated %}

          <h3>Add a comment...</h3>
          <form method="post">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button class="btn btn-outline-dark" type="submit">Post Comment</button>
          </form>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</article>


{% endblock %}