{% extends "base.html" %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ article.featured_image.url }}');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ article.title }}</h1>
          <h2 class="subheading">{{ article.excerpt }}</h2>
          <span class="meta">Posted by
            <a href="#">{{ article.author }}</a>
            on {{ article.date_created }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="text-justify">{{ article.body | safe }}</p>
        <div class="row">
          <div class="col-1">
            <strong class="text-secondary"><i class="far fa-heart"></i> {{ article.number_of_likes }} </strong>
          </div>
          <div class="col-1">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
              {{ total_comments }}
            </strong>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3>Comments:</h3>
        <div class="card-body">
          {% for comment in comments %}
          <div class="comments" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class=" text-muted font-weight-normal">
                {{ comment.date_created }}
              </span> wrote:
            </p>
            {{ comment.body | linebreaks }}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
          <!-- For later -->
        </div>
      </div>
    </div>
  </div>
</article>



{% endblock %}